<main class="mt-5">
  <div class="container">
    <div class="card mx-auto" style="width: 500px;">
      <div class="card-header">
        <img class="card-img-top mx-auto m-2 rounded-circle" src="/img/logo.png" alt="Logo" style="width: 150px; height: 150px; display:block;">
        <h3 class="text-uppercase text-center p-4">Intervensoft</h3>
      </div>
      <div class="card-body text-center">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam ipsa quibusdam nam incidunt modi qui sed possimus, inventore non illo amet. Voluptas quibusdam corrupti quod.</p>
        <a href="/add" class="btn btn-primary">Crear usuario</a>
      </div>
    </div>
  </div>
</main>